.font {
    font-family: 'Gamja Flower', cursive;
}

.head {
    background-color: #fff2e6;
    border-bottom: 1px solid #995c00;
    padding-bottom: 45px;
}

@media (min-width: 769px) {
    .head {
        padding-bottom: 10px;
    }
}

.logo {
    height: 125px;
    width: 175px;
}

@media (min-width: 767px) and (max-width: 989px) {
    .logo {
        width: 110px;
    }
}

.menu {
    padding-top: 45px;
    font-size: 30px;
}

.main {
    background-image: url("../images/background.jpg");
    border-bottom: 1px solid #995c00;
    height: 600px;
    width: 100%;
}

.body {
    font-size: 30px;
    font-weight: 20px;
    padding-top: 70px;
}

#india {
    font-family: 'Lemon', cursive;
    font-size: 45px
}

.quote {
    padding-top: 125px;
}

@media (min-width: 768px) {
    .quote {
        padding-top: 150px;
    }
}

.gandhi {
    font-size: 25px;
}

.fas {
    font-size: 40px;
}

.video {
    background-color: #fff2e6;
    height: 425px;
    border-bottom: 1px solid #995c00;
}

#check {
    margin: 0;
    padding-top: 20px;
}

video {
    height: 165px;
}

@media (min-width: 769px) {
    video {
        height: 300px;
    }
}