.font {
    font-family: 'Gamja Flower', cursive;
}

.head {
    background-color: #fff5e6;
    border-bottom: 1px solid #995c00;
    padding-bottom: 10px;
}
.logo {
    height: 125px;
    width: 175px;
}

.menu {
    padding-top: 35px;
    font-size: 30px;
}